body{
  margin: 0;
  padding: 0;
  color: var(--black);
  background: #E5E5E5;
  font-family: 'Noto Sans KR', sans-serif;
}
a{
  text-decoration: none;

  color: inherit;
}
*{
  box-sizing: border-box;
}
html{
  --white: white;
}

:root {
  --black: #3B434E;
  --primary: #7653FC;
  --primary-hover: #643ff7;
  --red: #DE0000;
  --green: #1DC47E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans KR', sans-serif;
}